{% extends "layouts/app.html.twig" %}

{% block title %}Items List{% endblock %}

{% block content %}
    <section>
        <table>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Location</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.label}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.location}}</td>
                    <td class="inner-date" data-value="{{ item.createdAt|date('U') }}"></td>
                    <td>
                        <a href="{{ path('entity_items_show', {id: item.id}) }}">Show</a>
                        <br>
                        <a href="{{ path('entity_items_edit', {id: item.id}) }}">Edit</a>
                        <br>
                        <a href="{{ path('entity_items_delete', {id: item.id}) }}">Direct delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <script>
        function translateDate(selector) {
            const inputDate = document
                .querySelectorAll(selector)
                .forEach(el => {
                    el.innerHTML = '';

                    const unixTimestramps = parseInt(el.getAttribute('data-value')) * 1000;
                    if (unixTimestramps) {
                        const date = new Date(unixTimestramps);
                        el.innerHTML = date.toLocaleDateString();
                    }
                });
        }

        translateDate('.inner-date');
    </script>
{% endblock %}
